@using WebCIIPMaestrosERP.Models;
@model WebCIIPMaestrosERP.Models.MktDocenteCursoCLS

   
    <Strong>Total de Registros recuperados: @ViewBag.ContarDocentesCapturados</Strong>

   

<table class="table table-hover table-striped">

    <thead>
        <tr>
            <td><strong>ID</strong></td>
            <td><strong>Nombres Apellidos</strong>></td>
            <td><strong>Email</strong></td>
            <td><strong>Celular</strong></td>
            <td><strong>Nombre de Stream</strong></td>
            <td><strong>Fecha Registro</strong></td>
            <td><strong>Turno</strong></td>




        </tr>
    <thead>
    <tbody>
        @foreach (var item in Model.Listado)
        {
        <tr>
            <td>@item.DOC_ID</td>
            <td>@item.DOC_NOMBRES @item.DOC_APELLIDOS</td>
            <td>@item.DOC_EMAIL</td>
            <td>@item.DOC_CELULAR</td>
            <td>@item.CUR_NOMBRE</td>
            <td>@item.DCU_FEC</td>
            <td>@item.LAN_FEC_CAPACITACION</td>

        </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4"></div>
    <div class="col-sm-4 col-lg-4 col-md-4"></div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        @{Html.RenderPartial("_Paginator", Model); }
    </div>
</div>