@using WebCIIPMaestrosERP.Models;
@model List<MktDocenteCursoCLS>

@{

    List<SelectListItem> CargaCursos = (List<SelectListItem>)ViewBag.CargaCursos;
    int idusuario = (int)Session["UsuID"];
}


<br>
<br>

@using (Html.BeginForm("Index", "MktDocenteCurso", FormMethod.Get))
{

    @Html.Hidden("IdLanzamiento")

    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <table>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-th btn-lg" aria-hidden="true"></span></td>
                    <td><span class="glyphicon glyphicon-th-list btn-lg" aria-hidden="true"></span></td>
                    <td>Cursos</td>

                    <td>


                        @Html.DropDownList("CUR_ID", CargaCursos, new { @class = "form-control" })


                    </td>



                    <td>Fecha de Curso</td>

                    <td>

                        <select id="LAN_ID" name="LAN_ID" onchange="ShowSelected();" class="form-control">
                            <!-- Opciones de la lista -->
                            <option value="">Elija una opcion</option>
                        </select>


                    </td>

                    <td>
                        <input type="submit" value="Buscar" class="btn btn-success" />
                    </td>
                    

                </tr>
            </table>
        </div>
        <div class="panel-body">
            <p></p>
        </div>

        <!-- Table -->
        <table class="table border-bottom table-hover">

            <thead>
                <tr>
                    <td>@Html.LabelFor(p => Model[0].DOC_ID)</td>
                    <td>@Html.LabelFor(p => Model[0].DOC_NOMBRES)</td>
                    <td>@Html.LabelFor(p => Model[0].DOC_APELLIDOS)</td>
                    <td>@Html.LabelFor(p => Model[0].DOC_EMAIL)</td>
                    <td>@Html.LabelFor(p => Model[0].DOC_CELULAR)</td>


                </tr>
            <thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DOC_ID</td>
                        <td>@item.DOC_NOMBRES</td>
                        <td>@item.DOC_APELLIDOS</td>
                        <td>@item.DOC_EMAIL</td>
                        <td>@item.DOC_CELULAR</td>

                    </tr>
                }
            </tbody>
        </table>
    

    </div>

}

    <script>

        //este evento es solo para captura la variable seleccionado para realizar el filtro con el boton buscar... no es para cargar las siguientes listas desplegables
        function ShowSelected() {
            /* Para obtener el valor */
            //var cod = document.getElementById("LAN_ID").value;
            //alert(cod);

            /* Para obtener el texto */
            var combo = document.getElementById("LAN_ID");
            var IdLan = combo.options[combo.selectedIndex].text;
            IdLan = IdLan.slice(0, IdLan.indexOf("-")); // extraemos solo el codigo del LAN_ID.. No se me ocurrio otra forma... por ahora

            document.getElementById("IdLanzamiento").value = IdLan;


        }


        var curso = document.getElementById("CUR_ID");
        curso.onchange = function () {

            var Idcurso = document.getElementById("CUR_ID").value;
            //alert(Idcurso);

            $.get("/SegUsuariosLinks/GetLanzamientosByUser/?IdCurso=" + Idcurso + "&IdUser=" + @idusuario, function (data) {
                // VACIAMOS EL DropDownList
                $("#LAN_ID").empty();
                // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                //$("#LAN_ID").append("<option value> -- Seleccionar Territorios deE " + $("#LAN_ID option:selected").text() + " --</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(data, function (index, row) {
                    if (row.Value == document.getElementById("IdLanzamiento").value) {
                        $("#LAN_ID").append("<option selected value=" + row.Value + ">" + row.Text + "</option>")
                    } else {
                        $("#LAN_ID").append("<option value=" + row.Value + ">" + row.Text + "</option>")
                    }

                    //alert(row.Value + " " + document.getElementById("IdLanzamiento").value)

                    //alert(row.Value);
                });
            });
        }
    </script>
