@using WebCIIPMaestrosERP.Models;
@model MktDocenteCursoCLS

@{
}

@using (Ajax.BeginForm("Filters", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "partialTab",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFilters" }))
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <form class="navbar-form navbar-left">
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-th btn-lg" aria-hidden="true"></span></td>
                        <td><span class="glyphicon glyphicon-th-list btn-lg" aria-hidden="true"></span></td>

                        @Html.Hidden("LanId")


                        <td>Fecha de Registro</td>
                        <td>
                            <!--@@Html.DropDownList("LanId", new SelectList(""), "Todos", new { @@class = "form-control", @@id = "Lanzamiento" })-->

                            <input class="form-control" type="date" id="DCU_FEC" name="DCU_FEC"
                                   value="2021-03-21">

                        </td>

                        <td>Usuario Marketing</td>
                        @Html.Hidden("page", null, new { @id = "optPage" })
                        <td>
                            @Html.DropDownList("UserId", new SelectList(""), "Seleccione un usuario", new { @class = "form-control", @id = "User" })
                        </td>
                        <td>Cursos</td>
                        <td>
                            @Html.DropDownList("CursId", new SelectList(""), "Todos", new { @class = "form-control", @id = "Curso" })
                        </td>

                        <td>
                            <input type="submit" value="Buscar" class="btn btn-success" />
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>@Html.ActionLink(" ", "generarExcel", "MktDocenteCurso", null, new { @class = "btn btn-success glyphicon glyphicon-save form-control", @target = "_blank" })</td>
                        <td>
                            <p>&nbsp&nbsp&nbsp</p>
                        </td>

                    </tr>
                    </table>
                </form>
            </div>
            <div class="panel-body"></div>
            <div id="partialTab">
                @Html.Partial("_MktReporteByUser", Model)
            </div>
        </div>
    }

    @section Scripts{

        <script>
            $(document).ready(function () {
            //cuando se carga la pagina

                $.get("@Url.Action("GetDocentes", "MktDocenteCurso")", function (ListaUsuMkt) {
                    $("#User").html("");
                    $("#User").append('<option value="">Seleccione un usuario</option>');
                    $("#Curso").attr("disabled", true);
                    //$("#Lanzamiento").attr("disabled", true);
                        $.each(ListaUsuMkt, function (index, item) {
                            $("#User").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });
                });
            });

            $("#User").change(function () {
                    var text = $(this).children("option:selected").text();
                    var val = $(this).children("option:selected").val();
                    if (text == "Todos") {
                        $("#Curso").html("");
                        $("#Curso").attr("disabled", true);
                        $("#Curso").append('<option value="0" >Todos</option>');
                        //$("#Lanzamiento").html("");
                        //$("#Lanzamiento").attr("disabled", true);
                        ///$("#Lanzamiento").append('<option value="0" >Todos</option>');
                    } else {
                        $.get("@Url.Action("GetCursosByDoc", "MktDocenteCurso")?id=" + parseFloat(val), function (ListaCursos) {
                            $("#Curso").html("");
                            $("#Curso").append('<option value="0">Todos</option>');
                            $("#Curso").attr("disabled", false);
                            $.each(ListaCursos, function (index, item) {
                                $("#Curso").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                            });
                        });
                    }
            });

            /*
            $("#Curso").change(function () {
                    var Uval = $(User).children("option:selected").val();
                    var text = $(this).children("option:selected").text();
                    var val = $(this).children("option:selected").val();
                    if (text == "Todos") {
                        $("#Lanzamiento").html("");
                        $("#Lanzamiento").attr("disabled", true);
                        $("#Lanzamiento").append('<option value="0" >Todos</option>');
                    } else {
                        $.get("@@Url.Action("GetLanzamientoByCurso", "MktDocenteCurso")?id=" + parseFloat(Uval) + "&IdCurso=" + val, function (Lanzamientos) {
                            $("#Lanzamiento").html("");
                            $("#Lanzamiento").append('<option value="0">Todos</option>');
                            $("#Lanzamiento").attr("disabled", false);
                            $.each(Lanzamientos, function (index, item) {
                                $("#Lanzamiento").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                            });
                        });
                    }
            });
            */

            $(document).on('click', '.pagerNum', function (e) {
                var page = $(this).data('codigo');
                document.getElementById("optPage").value = page;
                $("#frmFilters").trigger("submit");
                document.getElementById("optPage").value = "";
            });
        </script>

        }

    @*<script>

        //retiene el valor para recargar los combos cuando se recarga la pagina al presionar el valor buscar.
        var cboUsu = document.getElementById("CUR_ID").value;
        var cboCur = document.getElementById("USU_ID").value;
        var cboLan = document.getElementById("LAN_ID").value;





        function ShowSelectedLan() {
            /* Para obtener el valor */
            //var cod = document.getElementById("LAN_ID").value;
            //alert(cod);

            /* Para obtener el texto */
            var combo = document.getElementById("LAN_ID");
            var IdLan = combo.options[combo.selectedIndex].text;
            IdLan = IdLan.slice(0, IdLan.indexOf("-")); // extraemos solo el codigo del LAN_ID.. No se me ocurrio otra forma... por ahora

            document.getElementById("IdLanzamiento").value = IdLan; //cargamos el id del lanzamiento, en la varialbe oculta...


        }



        var user = document.getElementById("USU_ID");
        user.onchange = function () {

            var Idusuario = document.getElementById("USU_ID").value;


            $.get("GetCursosByUser/?Idusuario=" + Idusuario, function (data) {
                // VACIAMOS EL DropDownList
                $("#CUR_ID").empty();
                $("#LAN_ID").empty();

                // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                //$("#LAN_ID").append("<option value> -- Seleccionar Territorios deE " + $("#LAN_ID option:selected").text() + " --</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(data, function (index, row) {

                    $("#CUR_ID").append("<option value=" + row.Value + ">" + row.Text + "</option>")


                });
            });
        }


        var curso = document.getElementById("CUR_ID");
        curso.onchange = function () {

            var Idcur = document.getElementById("CUR_ID").value;

            document.getElementById("IdCurso").value = Idcur;


            $.get("GetLanzamientosByUser/?IdCurso=" + Idcur + "&IdUser=" + document.getElementById("USU_ID").value, function (data) {
                // VACIAMOS EL DropDownList
                $("#LAN_ID").empty();
                // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(data, function (index, row) {
                    if (row.Value == document.getElementById("IdLanzamiento").value) {
                        $("#LAN_ID").append("<option selected value=" + row.Value + ">" + row.Text + "</option>")
                    } else {
                        $("#LAN_ID").append("<option value=" + row.Value + ">" + row.Text + "</option>")
                    }

                    //alert(row.Value + " " + document.getElementById("IdLanzamiento").value)

                    //alert(row.Value);
                });
            });
        }




    </script>*@
