@using WebCIIPMaestrosERP.Models;
@model List<MaeTutorCLS>

<table class="table border-bottom table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].TUT_ID)</td>
            <td>@Html.LabelFor(p => Model[0].TUT_NOMBRES)</td>
            <td>@Html.LabelFor(p => Model[0].TUT_APELLIDOS)</td>
            <td>@Html.LabelFor(p => Model[0].TUT_EMAIL)</td>
            <td>@Html.LabelFor(p => Model[0].TUT_ESTADO)</td>
            <td width="20%">Operaciones</td>

        </tr>
    <thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TUT_ID</td>
                <td>@item.TUT_NOMBRES</td>
                <td>@item.TUT_APELLIDOS</td>
                <td>@item.TUT_EMAIL</td>
                <td>@item.TUT_ESTADO</td>
                <td>

                    <a href="#myModal" class="edit" onclick="Editar(@item.TUT_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>

                    <a href="#ModalConfirmacion" class="delete" onclick="ActivarDesactivar(@item.TUT_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Activar">&#xE872;</i></a>
                    <a href="#ModalActivar" class="active" onclick="ActivarDesactivar(@item.TUT_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe003;</i></a>


                </td>
            </tr>
        }
    </tbody>
</table>

