@using WebCIIPMaestrosERP;
@model List<WebCIIPMaestrosERP.Models.SegUsuariosCLS>



    <table class="table border-bottom table-hover">
        <thead>
            <tr>
                <td width="5%">@Html.LabelFor(p => Model[0].USU_ID)</td>
                <td width="10%">@Html.LabelFor(p => Model[0].USU_NOMBRES)</td>
                <td width="10%">@Html.LabelFor(p => Model[0].USU_APELLIDO)</td>
                <td width="15%">@Html.LabelFor(p => Model[0].ROL_DESCRIPCION)</td>
                <td width="15%">@Html.LabelFor(p => Model[0].USU_CELULAR)</td>
                <td width="10%">@Html.LabelFor(p => Model[0].USU_ACTIVO)</td>
                <td width="10%">Operaciones</td>

            </tr>
        <thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.USU_ID</td>
                <td>@item.USU_NOMBRES</td>
                <td>@item.USU_APELLIDO</td>
                <td>@item.ROL_DESCRIPCION</td>
                <td>@item.USU_CELULAR</td>
                <td>@item.USU_ACTIVO</td>
                

                <td>

                    <a href="#myModalUsuario" class="edit" onclick="Editar(@item.USU_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a href="#ModalConfirmacion" class="delete" onclick="ActivarDesactivar(@item.USU_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Activar">&#xE872;</i></a>
                    <a href="#ModalActivar" class="active" onclick="ActivarDesactivar(@item.USU_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe003;</i></a>


                </td>
            </tr>
            }
        </tbody>
    </table>


<script>

    var nombre = document.getElementById("USU_NOMBRE");
    nombre.onkeyup = function () {
        var frmUsuarios = document.getElementById("frmFiltro");
        frmUsuarios.submit();
    }


</script>