@using WebCIIPMaestrosERP.Models;
@model WebCIIPMaestrosERP.Models.MaeCursosCLS



    

            <table class="table border-bottom table-hover table-striped">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="20%">Nombre Curso</th>
                        <th width="30%">Descripción</th>
                        <th width="5%">Categoria</th>
                        <th width="10%">Estado</th>
                        <th width="20%">OPERACIONES</th>

                    </tr>
                <thead>
                <tbody>
                    @foreach (var item in Model.ListadoCursos)
                    {
                        <tr>
                            <td>@item.CUR_ID</td>
                            <td>@item.CUR_NOMBRE</td>
                            <td>@item.CUR_DESCRIPCION</td>
                            <td>@item.CAT_DESCRIPCION</td>
                            <td>@item.CUR_ESTADO</td>
                            <td>
                                

                                <a href="#myModalCurso" class="edit" onclick="Editar(@item.CUR_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#ModalConfirmacion" class="delete" onclick="ActivarDesactivar(@item.CUR_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Activar">&#xE872;</i></a>
                                <a href="#ModalActivar" class="active" onclick="ActivarDesactivar(@item.CUR_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe003;</i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4"></div>
                <div class="col-sm-4 col-lg-4 col-md-4"></div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @{Html.RenderPartial("_Paginator", Model); }
                </div>
            </div>

       

