@using WebCIIPMaestrosERP.Models;
@model List<MaeCursosCLS>



    

            <table class="table border-bottom table-hover table-striped">
                <thead>
                    <tr>
                        <th width="10%">@Html.LabelFor(p => Model[0].CUR_ID)</th>
                        <th width="20%">@Html.LabelFor(p => Model[0].CUR_NOMBRE)</th>
                        <th width="30%">@Html.LabelFor(p => Model[0].CUR_DESCRIPCION)</th>
                        <th width="5%">@Html.LabelFor(p => Model[0].CAT_DESCRIPCION)</th>
                        <th width="10%">@Html.LabelFor(p => Model[0].CUR_ESTADO)</th>
                        <th width="20%">OPERACIONES</th>

                    </tr>
                <thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CUR_ID</td>
                            <td>@item.CUR_NOMBRE</td>
                            <td>@item.CUR_DESCRIPCION</td>
                            <td>@item.CAT_DESCRIPCION</td>
                            <td>@item.CUR_ESTADO</td>
                            <td>
                                

                                <a href="#myModalCurso" class="edit" onclick="Editar(@item.CUR_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#ModalConfirmacion" class="delete" onclick="ActivarDesactivar(@item.CUR_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Activar">&#xE872;</i></a>
                                <a href="#ModalActivar" class="active" onclick="ActivarDesactivar(@item.CUR_ID)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe003;</i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

       

