@using WebCIIPMaestrosERP.Models;
@model List<MaeCursosCLS>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> ListaCategorias = (List<SelectListItem>)ViewBag.ListaCategorias;
    List<SelectListItem> ListaDias = (List<SelectListItem>)ViewBag.ListaDias;
    List<SelectListItem> ListaHoras = (List<SelectListItem>)ViewBag.ListaHoras;
    List<SelectListItem> ListaMT = (List<SelectListItem>)ViewBag.ListaMT;

}






@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divRol",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{


    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Administrar <b>Cursos</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <form class="navbar-form navbar-left ">
                            <div class="form-group">
                                @Html.TextBox("nombreCurso", null, new { @class = "form-control", @placeholder = "Buscar curso" })
                            </div>

                        </form>
                    </div>

                    <div class="col-sm-4">
                        <a href="#myModalCurso" onclick="Agregar()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar</span></a>
                    </div>
                </div>
            </div>

            <div id="divRol">





                @Html.Partial("_Index", Model)




            </div>
        </div>
    </div>
}




<!-- Modal -->
<div class="modal fade" id="myModalCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo curso</h4>
            </div>


            @using (Ajax.BeginForm("GuardarNuevoControladorParcial", "MaeCursos", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                UpdateTargetId = "error"
            }))
            {

                @Html.Hidden("accion") //Para  saber si esta guardando o actualizando, -1 = insertar, -2 actualuzar
                

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(p => Model[0].CUR_NOMBRE)
                                    @Html.TextBox("CUR_NOMBRE", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(p => Model[0].CUR_DESCRIPCION)
                                    @Html.TextBox("CUR_DESCRIPCION", null, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="row">

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(p => Model[0].CAT_ID)
                                    @Html.DropDownList("CAT_ID", ListaCategorias, new { @class = "form-control" })
                                </div>

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(p => Model[0].CUR_PRECIO)
                                    @Html.Editor("CUR_PRECIO", null, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                </div>
                            </div>


                            <div class="alert alert-success" role="alert">
                                Configuracion

                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4">
                                    @Html.DropDownList("SCH_DIA", ListaDias, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.DropDownList("SCH_HORA", ListaHoras, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.DropDownList("SCH_MT", ListaMT, new { @class = "form-control" })
                                </div>

                            </div>
                            <p>
                                <button type="button" onclick="AgregarHorario(); return false" class="btn btn-success">Agregar</button>
                            </p>
                                


                                <div class="panel panel-success">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Horarios</div>
                                    <div class="panel-body">
                            <p>Los horarios que se configuren en esta opcion seran automaticamente replicados por semana</p>
                            <!-- Table -->
                            <table class="table" id="DetHorario">
                                <!--Esta seccion -->

                            </table>
                            </div>


                            </div>


                        </div>
                        </div>

                




                    <div class="modal-footer">

                    

                        
                        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>


                    }
            </div>
        <div class="text-danger" id="error"></div>
    </div>
</div>


<!-- Modal Eliminar
<div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="alert alert-danger" role="alert"><h5 class="modal-title" id="exampleModalLabel">¿Desea desactivar el registro?</h5></div>

            </div>

            <div style="padding:1em">
                <button type="button" id="btnCerrarConfirmacion" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="ConfirmarActivarDescativar(2)" class="btn btn-danger">Aceptar</button>
            </div>
        </div>
    </div>
</div>
    -->
<!-- Delete Modal HTML -->
<div id="ModalConfirmacion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">¿Desea desactivar el registro?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Esta seguro que desea desactivar el curso?</p>
                    <p class="text-warning"><small>Esta accion puede deshacerse.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrarConfirmacion" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="ConfirmarActivarDescativar(2)" class="btn btn-danger">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Activar -->
<div class="modal fade" id="ModalActivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="alert alert-success" role="alert"><h5 class="modal-title" id="exampleModalLabel">¿Desea activar el registro?</h5></div>

            </div>

            <div style="padding:1em">
                <button type="button" id="btnCerrarConfirmacion" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="ConfirmarActivarDescativar(1)" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var num = 0;

    function eliminarFila(e) {
        alert("Hola");
    }


    function AgregarHorario() {

        

        var comboDIA = document.getElementById("SCH_DIA");
        var Dia = comboDIA.options[comboDIA.selectedIndex].text;

        var comboHora = document.getElementById("SCH_HORA");
        let Hora = comboHora.options[comboHora.selectedIndex].text;

        var comboMT = document.getElementById("SCH_MT");
        let MT = comboMT.options[comboMT.selectedIndex].text;

        //capturando valores de horiario
        let ValueDia = document.getElementById("SCH_DIA").value;
        let ValueHora = document.getElementById("SCH_HORA").value;
        let ValueMT = document.getElementById("SCH_MT").value;



        const tdRemove = document.createElement('td');
        const buttonRemove = document.createElement("img");
        //buttonRemove.src = "garbage.png";
        buttonRemove.onclick = eliminarFila;
        tdRemove.appendChild(buttonRemove);


        let tabla = document.getElementById("DetHorario");
        let TR = document.createElement("tr");

        let TDDia = document.createElement("td");
        let TDHora = document.createElement("td");
        let TDMT = document.createElement("td");
        
        TR.appendChild(TDDia);
        TR.appendChild(TDHora);
        TR.appendChild(TDMT);
        TR.appendChild(tdRemove);
        

        TDDia.innerHTML = Dia
        TDHora.innerHTML = Hora
        TDMT.innerHTML = MT

        tabla.appendChild(TR)

        //agregar el hidden

        let DetHorario = document.getElementById("DetHorario");

        let HiddenIndex = document.createElement("input");
        let HiddenDia = document.createElement("input");
        let HiddenHora = document.createElement("input");
        let HiddenMT = document.createElement("input");

        HiddenIndex.name = "Horarios.Index";
        HiddenIndex.type = "hidden";
        HiddenIndex.value = num;

        HiddenDia.name = "Horarios[" + num + "].SCH_DIA";
        HiddenDia.type = "hidden";
        HiddenDia.value = ValueDia;

        HiddenHora.name = "Horarios[" + num + "].SCH_HORA";
        HiddenHora.type = "hidden";
        HiddenHora.value = ValueHora;

        HiddenMT.name = "Horarios[" + num + "].SCH_MT";
        HiddenMT.type = "hidden";
        HiddenMT.value = ValueMT;


        DetHorario.appendChild(HiddenIndex);
        DetHorario.appendChild(HiddenDia);
        DetHorario.appendChild(HiddenHora);
        DetHorario.appendChild(HiddenMT);

        num = num + 1;

        alert(num);
    }


    var nombre = document.getElementById("nombreCurso");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }


    function limpiar() {
        var controles = document.getElementsByClassName("form-control");
        var ncontroles = controles.length;

        for (var i = 0; i < ncontroles; i++) {
            controles[i] = value = "";

        }


        document.getElementById("CUR_NOMBRE").value = "";
        document.getElementById("CUR_DESCRIPCION").value = "";
        //document.getElementById("CUR_RESULTADOS").value = "";
        document.getElementById("CUR_PRECIO").value = "";


        document.getElementById("error").innerHTML = "";

    }

    function ConfirmarActivarDescativar(estado) {
        var id = document.getElementById("accion").value;
        $.get("MaeCursos/ActivarDesactivar/?id=" + id + "&estado=" + estado, function (data) {

            if (data == 1) {
                alert("Se ejecuto correctamente");
                document.getElementById("btnCerrarConfirmacion").click();
                $("#frmFiltro").trigger("submit");
            } else {
                alert("Ocurrio un error");
            }

        })

    }

    function ActivarDesactivar(idCurso) {
        document.getElementById("accion").value = idCurso;
    }

    function Agregar() {
        limpiar();
        document.getElementById("accion").value = -1;



    }

    function Guardar(resultado) {
        if (resultado == 1) {

            document.getElementById("btnClose").click();
            $("#frmFiltro").trigger("submit");
            alert("Se guardo correctamente");
        } else {
            alert("Ocurrio un error");
        }

    }

    function Editar(idCurso) {
        limpiar();
        //document.getElementById("error").innerHTML = "";
        //document.getElementById("accion").value = idUsuario;
        document.getElementById("accion").value = idCurso;

        $.get("MaeCursos/recuperarDatos/?IdCurso=" + idCurso, function (data) {


            document.getElementById("CUR_NOMBRE").value = data.CUR_NOMBRE;
            document.getElementById("CUR_DESCRIPCION").value = data.CUR_DESCRIPCION;
            //document.getElementById("CUR_RESULTADOS").value = data.CUR_RESULTADOS;
            document.getElementById("CAT_ID").value = data.CAT_ID;
            document.getElementById("CUR_PRECIO").value = data.CUR_PRECIO;
            document.getElementById("USU_CONTRASENA").value = data.USU_CONTRASENA;



        })

    }



</script>


